* {
  padding: 0;
  margin: 0;
}

h3 {
  text-align: center;
}

#mainContainer {
  width: 99%;
  height: 680px;
  display: flex;
  align-self: center;
  justify-content: center;
}

#contentContainer {
  width: 90%;
  height: 680px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.itemContainer {
  width: 90%;
  height: 280px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.item {
  width: 30%;
  height: 190px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 3px 3px 5px lightgray;
  text-align: center;
}
.item2{
  width: 30%;
  height: 190px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  box-shadow: 3px 3px 5px lightgray;
  text-align: center;
}
.item3{
  width: 30%;
  height: 190px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  box-shadow: 3px 3px 5px lightgray;
  text-align: center;
}

.item4{
  width: 30%;
  height: 190px;
  border-radius: 5px;
  text-align: center;
  font-size: 22px;
  box-shadow: 3px 3px 5px lightgray;
  text-align: center;
}

.item6{
  width: 30%;
  height: 190px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  color:rgb(0, 0, 0);
  box-shadow: 3px 3px 5px lightgray;
  text-align: center;
}

.item5{
  width: 30%;
  height: 190px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  box-shadow: 3px 3px 5px lightgray;
  text-align: center;
}

.item7{
  width: 30%;
  height: 190px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  box-shadow: 3px 3px 5px lightgray;
  text-align: center;
}

.item8{
  width: 30%;
  height: 190px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  box-shadow: 3px 3px 5px lightgray;
  text-align: center;
}
.item9{
  width: 30%;
  height: 190px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  box-shadow: 3px 3px 5px lightgray;
  text-align: center;
}

.item10{
  width: 30%;
  height: 190px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  box-shadow: 3px 3px 5px lightgray;
  text-align: center;
}


